<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hashtag Generator</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Article Analyzer</h1>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <h2>Enter A URL</h2>
          <input id="url" type="text" name="url" placeholder="url" />
          <input
            type="submit"
            name=""
            id="submit"
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return Client.handleSubmit(event)"
          />
        </form>
      </section>

      <section id="results-section">
        <h2 id="results-title"></h2>
        <div id="results-container">
          <div id="hashtag-container" class='container hashtags'>
              <h3 id='hashtag-title'>#'s</h3>
              <ul id='hashtag-list'></ul>
          </div>
          <div id="sentiment-container" class='container sentiment'>
              <h3 id="sentiment-title">Sentiment:</h3>
              <ul id='sentiment-list'></ul>
          </div> 
          <div id="summary-container" class='container summary'>
              <h3 id='summary-title'>Article Summary:</h3>
              <div id='summary-text'>

              </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p id='copyright'>&copy; Article Analyzer 2020.</p>
    </footer>
  </body>
</html>
