body {
    font-family: 'Lato';
    background-color: #f5f7f9;
}

h1,
h2,
h3 {
    font-family: 'Fjalla One', sans-serif;
}

p {
    margin-top: .2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}